.container {
	display: flex;
	justify-content: center;
	width: 815px;
	background: white;
	padding: 20px;
	margin-bottom: 50px;
}

@media (max-width: 770px) {
	.container {
		width: 100%;
	}

	.image {
		width: 100%;
	}
}